.talent-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.talent {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
}

.talent img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#talent-shows-list .show {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
