body {
  font-family: sans-serif;
  width: 200px;
  padding: 10px;
}

h1 {
  font-size: 14px;
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #17a2b8;
  color: white;
  cursor: pointer;
}
